.container-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    min-height: 100vh;

    background: linear-gradient(to bottom,
            rgb(184, 184, 184) 0,
            rgba(0, 0, 0, 0.672) 74%);
}

.appt-card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 5px 10px;
    margin: 5px 5px;
    background-color: #4A0000;
    color: white;
    border-radius: 0.6em;

    * {
        margin: 5px 5px;
    }

    ul {
        background-color: black;
        list-style: none;
        // margin: 0;
        padding: 0px 5px;
        border-radius: 0.6em;
    }
}

.day-filter {
    margin: 90px 0px;
    
    label {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight:lighter;
        font-size: 35px;

        input {
            margin-top: 20px;
            height: 40px;
            padding-left: 10px;
            border-radius: 0.6em;
            border: 1px solid black;
            font-size: 25px;
        }
    }
}

@media screen and (max-width: 840px){ 
    .appt-card {
        width: 80%;
    }
}