.containerPage {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    /* border: solid; */
    align-items: center;
    height: fit-content;
    /* padding: 100px; */
    height: 100vh;
}

.containerPage form label{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.containerPage form input{
    margin: 10px;
    padding: 10px;
}

.container table {
    /* display: flex;
    flex-direction: column; */
    border-collapse: collapse;
    width: 1000px;
    height: 300px;
}


.user-info{
    display: flex;
    flex-direction: row;
}

.loading {
    display: flex;
    justify-content: center;
}