.container {
    display: flex;
    justify-content: center;
    /* border: solid; */
    align-items: center;
    max-height: fit-content;
    min-height: 100vh;
    padding: 100px;
}

.container table {
    /* display: flex;
    flex-direction: column; */
    border-collapse: collapse;
    width: 1000px;
    height: 300px;
}
.table {
    display: flex;
    flex-direction: column;
    min-width: 80vw;
    height: 50px;
}

.table-head {
    display: flex;
    flex-direction: row;
    /* min-width: 80vw; */
    /* height: 50px; */
}

.table-head div {
    border: solid;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.user-info{
    display: flex;
    flex-direction: row;
}

/* .container th {
    flex:;
}

.container * {
    border: solid 1px;;
    text-align: center;
    width: 10px;
    height: 10px
}

.container th {
    width: 30px; 
} */

.loading {
    display: flex;
    justify-content: center;
}