.container {
    display: flex;
    /* border:solid; */
    background-color: black;
    max-height: fit-content;
    min-height: fit-content;
    color: white;
}

.container * {
    border: solid;
    height: 50px;
    min-width: 100px;
    min-height: 50px;
    max-height: 50px;
}