.container {
    display: flex;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    /* border: solid 5px white; */
}

.sectionId {
    /* border: solid 5px white; */
    padding: 30px;
    background-color: #4A0000;
    color: white;
    border-radius: 1.25em;
    padding: 60px;
    margin: 30px;
}

.black {
    color: grey;
}