.footer {
    display: flex;
    width: 100vw;
    height: 50px;
    padding: 30px 0px 31px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    margin: 0;
    /* font-family: Krona One; */
}