.footer {
    display: flex;
    width: 100%;
    max-width: 100vw;
    height: 60px;
    /* padding: 30px 30px 30px; */
    justify-content: center;
    align-items: center;
    background: #000;
    margin: 0;
}