.form {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.form-section {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: fit-content;
    margin: 30px;
    border-radius: 25px;
    background: #4A0000;
    align-items: center;
    text-align: center;
}

.form-section * {
    display: flex;
    color: #FFF;
    text-align: center;
    /* font-family: Krona One; */
    font-size: 32px;
    font-style: normal;
    font-weight:lighter;
    line-height: normal;
    align-items: center;
}

.form-section input {
    width: 305px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #3f3f3f;
    font-size: 15px;
    margin-bottom: 20px;
}

.service {
    display: flex;
    /* border: solid; */
    justify-content:space-between;
    align-items: center;
    width: 305px;
}

/* .service label{
    display: flex;
    border: solid;
    justify-content: space-around;
} */

.form-section select {
    width: 125px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #3f3f3f;
    font-size: 15px;
    margin-bottom: 20px;
}

.form-section label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-bottom: 20px; */
    font-size: 10px;
    /* margin-top: px; */
}

.form-section label span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 25px;
    /* margin-top: px; */
}

.form-section button {
    display: inline-flex;
    width: 200px;
    height: 70px;
    /* padding: 40px 0px 40px; */
    justify-content: center;
    align-items: center;
    border-radius: 26px;
    background: #000;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

.form-title {
    margin-top: 50px;
    font-weight:bold;
}