.concluded-container {
    display: flex;
    // border: 2px solid black;
    width: 50%;
    // height: 350px;
    align-items: center;
    background-color: #4A0000;
    border-radius: 0.2em;
    color: white;
    justify-content: center;
    box-shadow: 0px 0px 10px 0.01em rgb(16, 16, 16);
    p, h3 {
        padding-bottom: 20px;
        padding-left: 15px;
        text-align: left;
        font-weight: lighter;
    }
    p {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        margin-left: 10px;
        span {
            border-bottom: 1px solid;
        }
    }

    h3 {
        align-items: center;
        border: solid white;
        padding: 10px 10px;
        background-color: white;
        color: #4A0000;
        border-radius: 0.1em;
        width: 95%;
    }

    .show-id {
        display: flex;
        flex-direction: column;
        padding-bottom: 0px;
        .black {
            margin-top: 10px;
            border-bottom: 1px solid;
        }
        // border: 1px solid;
    }
}

.info_sect {
    background-color: white;
    color: #4A0000;
    padding-top: 1px;
    padding-bottom: 0px;
    border-radius: 0.1em;
    width: 90%;
    margin-bottom: 30px;
}

.sectionId {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    // background-color: white;
    font-size: 30px;
    border-radius: 0.2em;;
    // color: #4A0000;
    margin: 20px 0;

    .div_link {
        // width: 100%;
        // border: solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 20px;
        background-color: white;
        border-radius: 0.1em;
        box-shadow: 0px 0px 10px 0.01em rgb(16, 16, 16);


        a {
            text-decoration: none;
            color: #4A0000;
            text-shadow: 1px 1px 2px #4A0000;
            font-size: 25px;
            &:hover {
                color: rgb(129, 129, 129);
                text-shadow: 1px 1px 2px  rgb(129, 129, 129);
                transition: 0.2s;
            }

        }
    }
}

@media screen and (max-width: 840px) {

    .concluded-container {
        width: 90%;
    }
    .sectionId {
        font-size: 20px;
        width: 90%;

        p {
            flex-direction: column;
            * {
                padding-top: 10px;
            }
        }
    }

    
}