.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: rgb(184, 184, 184);
}

main {
  display: flex;
  min-height:80vh;
  max-height: fit-content;
  /* max-height: fit-content; */
  padding: 0;
  margin: 0;
  flex-direction: column;
  width: 100vw;
}